In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv", nrows=6869)

In [4]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4496)

In [5]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [6]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

gdp_df 4 columns, 6869 rows
internet_df 4 columns, 4496 columns
gdp_df has 6873 rows, but the last 4 are just notation and footer so 6869 rows that are needed here.
internet_df has 4688 rows but a lot of footer notes, so we cut those out to leave 4496 rows.

In [7]:
print(gdp_df.dtypes)
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object
Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [8]:
gdp_dfr = gdp_df.rename(columns={"Country or Area":"Country", "Value":"GDP_Per_Capita"})
internet_dfr = internet_df.rename(columns={"Country or Area":"Country", "Value":"Internet_Users_Pct"})
del gdp_dfr['Value Footnotes']
del internet_dfr['Value Footnotes']

In [9]:
gdp_and_internet_use = pd.merge(gdp_dfr, internet_dfr)

In [10]:
print(gdp_and_internet_use)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
0       Afghanistan      2014     2102.385234            6.390000
1       Afghanistan      2013     2116.465454            5.900000
2       Afghanistan      2012     2075.491747            5.454545
3       Afghanistan      2011     1904.559799            5.000000
4       Afghanistan      2010     1957.029338            4.000000
...             ...       ...             ...                 ...
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

[3459 rows x 4 columns]

In [11]:
gdp_and_internet_use.head(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2014     2102.385234            6.390000
1  Afghanistan  2013     2116.465454            5.900000
2  Afghanistan  2012     2075.491747            5.454545
3  Afghanistan  2011     1904.559799            5.000000
4  Afghanistan  2010     1957.029338            4.000000

In [12]:
gdp_and_internet_use.tail(5)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

In [13]:
gdp_and_internet_use.drop(gdp_and_internet_use.tail(1).index,
        inplace = True)

In [14]:
gdp_and_internet_use.tail(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
3453  Zimbabwe  1997     3580.048793            0.033080
3454  Zimbabwe  1996     3520.430146            0.016790
3455  Zimbabwe  1995     3226.413930            0.007684
3456  Zimbabwe  1994     3263.934978            0.001739
3457  Zimbabwe  1990     3324.348171            0.000000

In [15]:
#gdp_and_internet_use_2009 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2019'] We want 2004, 2009, and 2014
#The below code breaks the kernel everytime lol, don't use it
#gdpyears = np.logical_or(gdp_and_internet_use['Year'] == '2004', gdp_and_internet_use['Year'] == '2009', gdp_and_internet_use['Year'] == '2014')
#gdprealyears = np.logical_or(gdpyears == 2004, gdpyears == 2009, gdpyears == 2014)
#gdp_and_internet_use[gdp_and_internet_use[gdprealyears]]
#s = df[df['color'].isin(['Yellow', 'Green'])]
gdp_realyears = gdp_and_internet_use[gdp_and_internet_use['Year'].isin(['2004', '2009', '2014'])]
gdp_int2004 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2004']
gdp_int2009 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2009']
gdp_int2014 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2014']

In [16]:
print(gdp_realyears)

          Country  Year  GDP_Per_Capita  Internet_Users_Pct
0     Afghanistan  2014     2102.385234            6.390000
5     Afghanistan  2009     1758.904043            3.550000
10    Afghanistan  2004     1200.278256            0.105809
13        Albania  2014    11623.866679           60.100000
18        Albania  2009    10346.864199           41.200000
...           ...   ...             ...                 ...
3419       Zambia  2009     2917.516220            6.310000
3424       Zambia  2004     2261.766537            2.013550
3436     Zimbabwe  2014     2955.240287           19.890000
3441     Zimbabwe  2009     1925.364381           11.360000
3446     Zimbabwe  2004     2480.859342            6.564045

[482 rows x 4 columns]

In [17]:
#df.nlargest(n=5, columns=['Magnitude', 'Depth'])
print(gdp_int2014.nlargest(n=1, columns=['Internet_Users_Pct']))
#Iceland has the higest 2014 internet users at 96.18%

      Country  Year  GDP_Per_Capita  Internet_Users_Pct
1381  Iceland  2014      49652.1495               98.16

In [18]:
print(gdp_int2004.nlargest(n=1, columns=['Internet_Users_Pct']))
print(gdp_int2009.nlargest(n=1, columns=['Internet_Users_Pct']))
#Sweden in 2004 at 83.39%, Iceland in 2009 at 93%

     Country  Year  GDP_Per_Capita  Internet_Users_Pct
2985  Sweden  2004    44496.023401               83.89
      Country  Year  GDP_Per_Capita  Internet_Users_Pct
1386  Iceland  2009    48177.084123                93.0

In [21]:
print(gdp_int2004.nsmallest(n=1, columns=['Internet_Users_Pct']))
print(gdp_int2009.nsmallest(n=1, columns=['Internet_Users_Pct']))
print(gdp_int2014.nsmallest(n=1, columns=['Internet_Users_Pct']))
#2004 has Myanmar as the lowest at .02%!!!, Then Timor-Leste takes 2009 and 2014 with 0.18% and 1.14%, respectively

      Country  Year  GDP_Per_Capita  Internet_Users_Pct
2132  Myanmar  2004      1696.88176            0.024337
          Country  Year  GDP_Per_Capita  Internet_Users_Pct
3092  Timor-Leste  2009     2724.770973            0.185252
          Country  Year  GDP_Per_Capita  Internet_Users_Pct
3087  Timor-Leste  2014      3264.56807                1.14

In [23]:
print(gdp_int2014.nlargest(n=1, columns=['GDP_Per_Capita']))
print(gdp_int2014.nsmallest(n=1, columns=['GDP_Per_Capita']))
#Luxembourg with the highest GDP_Per_Capita as 108,761 (Dollars? Idk what currency this is in)
#Burundi has the lowest GDP_Per_Capita at 886.

         Country  Year  GDP_Per_Capita  Internet_Users_Pct
1798  Luxembourg  2014    108760.91603               94.67
     Country  Year  GDP_Per_Capita  Internet_Users_Pct
540  Burundi  2014      886.235777                1.38