In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [4]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv", nrows=6869)

In [5]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4496)

In [6]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [7]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

gdp_df 4 columns, 6869 rows
internet_df 4 columns, 4496 columns
gdp_df has 6873 rows, but the last 4 are just notation and footer so 6869 rows that are needed here.
internet_df has 4688 rows but a lot of footer notes, so we cut those out to leave 4496 rows.

In [8]:
print(gdp_df.dtypes)
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object
Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [9]:
gdp_dfr = gdp_df.rename(columns={"Country or Area":"Country", "Value":"GDP_Per_Capita"})
internet_dfr = internet_df.rename(columns={"Country or Area":"Country", "Value":"Internet_Users_Pct"})
del gdp_dfr['Value Footnotes']
del internet_dfr['Value Footnotes']

In [10]:
gdp_and_internet_use = pd.merge(gdp_dfr, internet_dfr)

In [11]:
print(gdp_and_internet_use)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
0       Afghanistan      2014     2102.385234            6.390000
1       Afghanistan      2013     2116.465454            5.900000
2       Afghanistan      2012     2075.491747            5.454545
3       Afghanistan      2011     1904.559799            5.000000
4       Afghanistan      2010     1957.029338            4.000000
...             ...       ...             ...                 ...
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

[3459 rows x 4 columns]

In [12]:
gdp_and_internet_use.head(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2014     2102.385234            6.390000
1  Afghanistan  2013     2116.465454            5.900000
2  Afghanistan  2012     2075.491747            5.454545
3  Afghanistan  2011     1904.559799            5.000000
4  Afghanistan  2010     1957.029338            4.000000

In [13]:
gdp_and_internet_use.tail(5)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

In [14]:
gdp_and_internet_use.drop(gdp_and_internet_use.tail(1).index,
        inplace = True)

In [15]:
gdp_and_internet_use.tail(5)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
3453  Zimbabwe  1997     3580.048793            0.033080
3454  Zimbabwe  1996     3520.430146            0.016790
3455  Zimbabwe  1995     3226.413930            0.007684
3456  Zimbabwe  1994     3263.934978            0.001739
3457  Zimbabwe  1990     3324.348171            0.000000

In [23]:
#gdp_and_internet_use_2009 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2019'] We want 2004, 2009, and 2014
#gdpyears = gdp_and_internet_use['Year']
#gdprealyears = np.logical_or(gdpyears == 2004, gdpyears == 2009, gdpyears == 2014)
#gdp_and_internet_use[gdp_and_internet_use[gdprealyears]]
gdp_and_internet_use_2004 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2004']
gdp_and_internet_use_2009 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2009']
gdp_and_internet_use_2014 = gdp_and_internet_use[gdp_and_internet_use['Year']=='2014']

In [22]:
print(gdp_and_internet_use_2004)

                  Country  Year  GDP_Per_Capita  Internet_Users_Pct
10            Afghanistan  2004     1200.278256            0.105809
23                Albania  2004     7604.838002            2.420388
44                Algeria  2004    10058.435939            4.634475
66                 Angola  2004     5593.241537            0.464815
86    Antigua and Barbuda  2004    18745.681534           24.266544
...                   ...   ...             ...                 ...
3361              Uruguay  2004    12479.966871           17.063098
3383           Uzbekistan  2004     3221.189333            2.593725
3404              Vanuatu  2004     2792.356252            4.746603
3424               Zambia  2004     2261.766537            2.013550
3446             Zimbabwe  2004     2480.859342            6.564045

[157 rows x 4 columns]