In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
%matplotlib inline

In [27]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv", nrows=6869)

In [25]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4496)

In [32]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [29]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

gdp_df 4 columns, 6869 rows
internet_df 4 columns, 4496 columns
gdp_df has 6873 rows, but the last 4 are just notation and footer so 6869 rows that are needed here.
internet_df has 4688 rows but a lot of footer notes, so we cut those out to leave 4496 rows.

In [49]:
print(gdp_df.dtypes)
print(internet_df.dtypes)

Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object
Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object

In [51]:
gdp_dfr = gdp_df.rename(columns={"Country or Area":"Country", "Value":"GDP_Per_Capita"})
internet_dfr = internet_df.rename(columns={"Country or Area":"Country", "Value":"Internet_Users_Pct"})
del gdp_dfr['Value Footnotes']
del internet_dfr['Value Footnotes']

In [52]:
gdp_and_internet_use = pd.merge(gdp_dfr, internet_dfr)

In [53]:
print(gdp_and_internet_use)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
0       Afghanistan      2014     2102.385234            6.390000
1       Afghanistan      2013     2116.465454            5.900000
2       Afghanistan      2012     2075.491747            5.454545
3       Afghanistan      2011     1904.559799            5.000000
4       Afghanistan      2010     1957.029338            4.000000
...             ...       ...             ...                 ...
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN

[3459 rows x 4 columns]

In [54]:
gdp_and_internet_use.head(6)

       Country  Year  GDP_Per_Capita  Internet_Users_Pct
0  Afghanistan  2014     2102.385234            6.390000
1  Afghanistan  2013     2116.465454            5.900000
2  Afghanistan  2012     2075.491747            5.454545
3  Afghanistan  2011     1904.559799            5.000000
4  Afghanistan  2010     1957.029338            4.000000
5  Afghanistan  2009     1758.904043            3.550000

In [55]:
gdp_and_internet_use.tail(6)

            Country      Year  GDP_Per_Capita  Internet_Users_Pct
3453       Zimbabwe      1997     3580.048793            0.033080
3454       Zimbabwe      1996     3520.430146            0.016790
3455       Zimbabwe      1995     3226.413930            0.007684
3456       Zimbabwe      1994     3263.934978            0.001739
3457       Zimbabwe      1990     3324.348171            0.000000
3458  footnoteSeqID  Footnote             NaN                 NaN